$primary: #3f3697;
$secondary: #fb2b76;
$tertiary: #bbbbbb;
$quaternary: #9babc5;
$active-chat: #f1f3f9;
$tag: #fb2b7624;
$c-light: #fafafa;
$c-white: #fff;
$white: #fff;
$light: #f8f9fa;
$c_gray-light: #f4f4fc;
